.profile__name {
    margin: 0;
    font-weight: 500;
    font-size: 42px;
    line-height: 56px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 300px;
}

@media screen and (max-width: 450px){
    .profile__name {
        font-size: 27px;
    }
}