.profile__avatar {
    width: 120px;
    height: 120px;
    border-radius: 100px;
}

.profile__avatar:hover {
    opacity: 0.2;
    cursor: pointer;
    transition: opacity ease .3s;
    overflow: hidden;
}

